@font-face {
    font-family: Roboto;
    src: url();
}
body {
    font-family: 
    "Roboto", sans-serif;
    font-style: normal;
color: #434455;
}
.link {

    text-decoration: none;
}
.list{ 
    list-style: none;
}
/* ----------header----------- */
.header-addres {
    font-style: normal
}
.web {
    color: #2E2F42;
}
.header-logo link {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    

}
.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2E2F42;

}
.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; }
.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;

}
.hero {
    width: 1440px;
height: 600px;
left: 0px;
top: 72px;
background: #2E2F42;
}

.hero-title {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-botton {
    font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer
}

/* ----------Directions----------- */

.directions-top-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.directions-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------doing----------- */

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    color: #2E2F42;
}
/* ----------team----------- */


.team {
    background: #F4F4FD;
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.team-item {
    width: 264px;
height: 380px;
left: 156px;
top: 1780px;

background: #FFFFFF;
}
.team-img {
}
.team-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
/* ----------footer----------- */

.footer {

background: #2E2F42;
}
.footer-link {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none
}
.footer-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.studio {
    color: #f4f4fd
}